:host(.ngx-gallery-active) {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10000;
    display: inline-block;
}

:host {
    display: none;

    /deep/ .ngx-gallery-arrow {
        font-size: 50px;
    }
}

.ngx-gallery-preview-img {
    opacity: 0;
    max-width: 90%;
    max-height: 90%;
    user-select: none;

    &.animation {
        transition: opacity 0.5s linear;
    }

    &.ngx-gallery-active {
        opacity: 1;
    }

    &.ngx-gallery-grab {
        cursor: grab;
        cursor: -webkit-grab;
    }
}

.ngx-gallery-icon.ngx-gallery-spinner {
    font-size: 50px;
    left: 0;
    display: inline-block;
}

:host /deep/ .ngx-gallery-preview-top {
    position: absolute;
    width: 100%;
    user-select: none;
}

:host /deep/ .ngx-gallery-preview-icons {
    float: right;

    .ngx-gallery-icon {
        position: relative;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 25px;
        cursor: pointer;

        &.ngx-gallery-icon-disabled {
            cursor: default;
            opacity: 0.4;
        }
    }
}

.ngx-spinner-wrapper {
    width: 50px;
    height: 50px;
    display: none;

    &.ngx-gallery-active {
        display: inline-block;
    }
}

.ngx-gallery-center {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: 0;
}

.ngx-gallery-preview-text {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    flex: 0 1 auto;
    z-index: 10;
}

.ngx-gallery-preview-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.ngx-gallery-preview-img-wrapper {
    flex: 1 1 auto;
    position: relative;
}
